/*Fuentes del proyecto*/
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../../fonts/Montserrat-Italic.ttf');
}
